.expansion-tooltip{
    position: 'absolute';
    /* width: 120px; */
    bottom: 100%;
    left: 50%;
    /* margin-left: -60px; */
    transform: 'translateX(-50%)';
    background-color: white;
    color: '#fff';
    padding: '5px 10px';
    border-radius: '5px';
    z-index: 9999;
}

.group-header{
    display: grid;
    grid-template-columns: 10% 50% 10% 10% 10% 10%;
   /*  grid-column-gap: 5px;  */
    justify-items: stretch;
    background-color: #42414d;
    border-radius: 5px;
    align-items: center;
}

.expand-collapse-tabs{
    grid-column: 1 / 2;
}
/* .expand-collapse-tabs:hover{
    background-color: grey;
} */

.group-header-category{
    text-align: start;
    grid-column: 2 / 3;
    
}

.rename-group{
    grid-column: 3 / 4;
}

.button-open-group-new-window{
    grid-column: 4 / 5;
    
}
/* 
.button-open-group-new-window:hover{
    background-color: grey;
}
 */
.bookmark-group{
    grid-column: 5 / 6;
}
/* 
.bookmark-group:hover{
    background-color: grey;
} */

.button-remove-group-wrapper{
    grid-column: 6 / 7;
}

/* .button-remove-group-wrapper:hover{
    background-color: yellow;
} */


/* .button-remove-group:hover{
    background-color: grey;
} */

.button:hover{
    color: grey;
    size: "lg";
    cursor: pointer;
}

