/* 
  Styling Acorn Firefox
  Background color:
  - #1c1b22: Dark mode
  - #f0f0f4: Light mode

  GroupEntries background color:
  - #42414d: Dark mode
  - #ffffff: Light mode

  Text color:
  - #fbfbfe: Dark mode
  - #15141a: Light mode
*/


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1c1b22;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1c1b22;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.group-list-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  justify-content: center;
}

.dark-mode{
  background-color: #1c1b22;
  /* color: #f0f0f4;  */
  color: #fbfbfe
  /* color is text-color */
}

.light-mode{
  background-color: #f0f0f4;
  color: #15141a; 
}

input:focus{
  outline: none;
}
