.tabs-list{
    display: flex;
    flex-direction: column;
/*     padding: 5px;
    gap: 5px; */
}

.tab-entry{
    /* padding: 5px; */
    margin: 2px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.tab-entry:hover{
    background-color: grey;
}