.add-group-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
    gap: 10px
}

.add-group-button{
    border: none;
    border-radius: 5px;
    flex-grow: 1;
    font-size: 1em;
}

.add-group-button:hover{
    cursor: pointer;
    background-color: grey;
}
