.expansion-tooltip{
    position: 'absolute';
    /* width: 120px; */
    bottom: 100%;
    left: 50%;
    /* margin-left: -60px; */
    transform: 'translateX(-50%)';
    background-color: white;
    color: '#fff';
    padding: '5px 10px';
    border-radius: '5px';
    z-index: 9999;
}